

/* google font länk */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rye&display=swap');


/* Enkel CSS reset */
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
margin: 0;
padding: 0;
}

/* Layoutens utseende */
.julsida {
background-color: #8e0413;
}
.graner {
background-color: #004733;
}
.snögubbar{
background-color: #dcdfe5;
}
.presenter {
background-color: #ad080f;
}
.kontainer {
    width: 900px;
    padding: 20px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffd100;
    border: 2px black solid;
}

/* Menyn utseende */
.kontainer ul {
    font-family: "Rubik Dirt", system-ui;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 20px;
}
.kontainer li {

}
.kontainer ul a {
    text-decoration: none;
    background-color: #090c08;
    padding: 10px;
    border-radius: 3px;
    width: 140px;;
    display: inline-block;
    box-shadow: 4px 4px 0 #999;
    text-align: center;
    height: 60px;
}
.kontainer ul a:hover {
    background-color: rgb(177, 175, 175);
}
.kontainer ul .aktiv {
    background-color: rgb(177, 175, 175);
}
.box {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    border: 2px black solid;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    text-align: center;
}



/* Innehåll */
.kontainer h1 {
    font-family: "Rye", serif;
    text-transform: uppercase;
    color: #090c08;
    font-size: 80px;
    text-align: center;
}
.kontainer p {
    margin: 20px auto;
}
img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 2px black solid;
    margin-right: 20px;
}   












