/* font länk */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Enkel CSS reset*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* sidan */
body {
    background-image: url(./bilder/maket.jpg);
    font-family: "Pacifico", serif;

}

.kontainer {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Bygga layouten */
.kontainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
    gap: 20px;
}

header {
    grid-area: sidhuvud;
    background-color: pink;
}

main {
    grid-area: artiklarna;
    background-color: pink;
    border-radius: 10px;
    padding: 20px;
}

aside {
    grid-area: sidebar;
    background-color: pink;
    border-radius: 10px;
    padding: 20px;

}

footer {
    grid-area: sidfot;
    background-color: pink;
    border-radius: 10px;
    padding: 20px;

}

/* sidhuvud */
header {
    font-family: "Pacifico", serif;
    color: white;
}

header h1 {}

header h2 {}

header nav {}

/* Menyn */
header nav {
    background: rgb(195, 109, 181);
    background: linear-gradient(0deg, rgba(195, 109, 181, 1) 0%, rgba(255, 192, 203, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding: 20px;
}

header nav a {
    color: purple;
    text-decoration: none;
    padding: 20px 10px;
}

header nav a.aktiv {
    background: rgb(195, 109, 181);
    background: radial-gradient(circle, rgba(195, 109, 181, 1) 0%, rgba(255, 192, 203, 1) 30%, rgba(130, 9, 28, 1) 31%, rgba(255, 215, 222, 1) 32%, rgba(255, 222, 228, 1) 56%, rgba(255, 253, 0, 1) 58%, rgba(255, 223, 229, 1) 60%, rgba(62, 37, 171, 1) 68%, rgba(255, 229, 233, 1) 79%, rgba(47, 174, 60, 1) 84%, rgba(255, 240, 242, 1) 88%, rgba(255, 244, 245, 1) 91%, rgba(255, 255, 255, 1) 100%);
    padding: 10px;
}

header nav a:hover {
    background: rgb(195, 109, 181);
    background: radial-gradient(circle, rgba(195, 109, 181, 1) 0%, rgba(255, 192, 203, 1) 30%, rgba(130, 9, 28, 1) 31%, rgba(255, 215, 222, 1) 32%, rgba(255, 222, 228, 1) 56%, rgba(255, 253, 0, 1) 58%, rgba(255, 223, 229, 1) 60%, rgba(62, 37, 171, 1) 68%, rgba(255, 229, 233, 1) 79%, rgba(47, 174, 60, 1) 84%, rgba(255, 240, 242, 1) 88%, rgba(255, 244, 245, 1) 91%, rgba(255, 255, 255, 1) 100%);
    padding: 10px;
    transition: 0.1s;
}

/* Innehall */
main {}

main article {}

main article h3 {}

main article figure {
    width: 50%;
    margin: auto;
    padding: 30px;
    border: 1px solid;
}

main article figure img {}

main article figure figcaption {}

main article p {}

/* sidobar */
aside {}

aside h4 {}

aside p {}

/* sidfot */
footer {}

footer p {}