
:root {
/* CSS HEX */
--ecru: #D1BF89ff;
--midnight-green: #105366ff;
--prussian-blue: #03324Bff;
--dutch-white: #DCD9B6ff;
--gunmetal: #203643ff;
}

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    
}


/* Layout */
body{
    background-color: var(--prussian-blue);
}
.con{
    background-color:#105366;
    width: 700px;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.post{
    background-color: #D1BF89;
    padding: 30px;
    margin-bottom: 50px;
}

/* inne */
h1{
    margin-bottom: 30px;
}
h2{
    margin-bottom: 20px;
}
img{
    width: 100%;
    margin-bottom: 20px;
}
.datum{
    margin-bottom: 10px;
}
p{

}
